.tablero {
    width: 75dvw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}
.casilla {
    border: 1px solid black !important;
    border-radius: unset !important;
    width: 25dvw;
    height: 25dvw;
}