.tablero {
    width: 100dvw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.casilla {
    border: 1px solid black !important;
    border-radius: unset !important;
    width: 31dvw;
    height: 31dvw;
}